<header class="header d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="header__logo">LOGO
                </div>
                <div class="header__nav">
                    <ul class="d-flex">
                        <li><a href="#">Новини</a></li>
                        <li><a href="#">Профіль</a></li>
                        <li><a href="#">Розклад</a></li>
                        <li><a href="#">Вартість</a></li>
                    </ul>
                </div>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile__nav">
                        <ul class="d-flex align-items-center flex-column justify-content-center">
                            <li><a href="#">Новини</a></li>
                            <li><a href="#">Профіль</a></li>
                            <li><a href="#">Розклад</a></li>
                            <li><a href="#">Вартість</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>